<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup form</title>
</head>
<style>
    .success{
        color: green;
    }
</style>
<body>
    <form action="" method="POST" novalidate>{% csrf_token %}
        {% for fm in form %}
         {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form><br>
    <a href="{% url 'login' %}">Login</a>

    {% if messages %}
     {% for message in messages %} <br>
     <span class="success">{{message}}</span>
     {% endfor %}
    {% endif %}
</body>
</html>
